@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');
:root {
    --primary: #327ACE;
    --secondary: #AB3839;
    --bodyBG: #1C3654;
}
::selection {
    color:#f7f7f7;
    background-color:var(--primary);
}


* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Lato', sans-serif;
    color:#f1f1f1;
    font-size:1rem;
    background-color: var(--bodyBG);
    transition:ease 0.25s all;
    box-sizing: border-box;
}

a {
    color:var(--primary);
}

h1 {
    font-size:2rem;
}

h2 {
    font-size:1.75rem;
}

h3 {
    font-size:1.5rem;
}

h4 {
    font-size:1.25rem;
}

h5 {
    font-size:1rem;
}



header {
    box-shadow: 0px 2px 0px rgba(180, 180, 180, 0.25);
    background-color: var(--secondary);
}

.header {
    max-width: 1280px;
    margin:auto;
    height: 60px;
    position: relative;
    padding: 0rem 1rem;
}

header + main {
    margin-top:3rem;
}

.logo {
    position: absolute;
    max-width:210px ;
    top:22px;
}


.hero {
    background-image:url('../images/banner.jpg');
    height: 465px;
    padding:1rem;
}

.hero-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero-title {
    margin-bottom:1rem;
    text-align: center;
    font-size: 2.25rem;
}

@media only screen and (min-width: 768px) {

    .hero {
        height: 505px;
    }
.hero-title {
    text-align: left;
        font-size: 2.5rem;

}

.hero {
    padding:0rem;
}
}

.hero-content {
    margin-bottom:1rem;
    font-size: 1.25rem;
    max-width: 635px;
    text-align: center;
}


.col-2 {
    display: grid;
    grid-column-gap: 3em;
}
    
.col-3 {
    display: grid;
    grid-column-gap: 3em;
}

.col-4 {
    display: grid;
    grid-column-gap: 3em;
}

@media only screen and (min-width: 768px) {


.col-2 {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 3em;
}
    
.col-3 {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-column-gap: 3em;
}

.col-4 {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-column-gap: 3em;
}

}


.section-wrapper {
    max-width: 1280px;
    margin:auto;
    height: 100%;
    margin: 0rem auto 2rem;
    padding: 0rem 1rem;
}

@media only screen and (min-width: 768px) {

    .section-wrapper {
    max-width: 1280px;
    margin:auto;
    height: 100%;
    margin: 2.5rem auto;
    padding: 0rem 1rem;
}
}


.card {
    margin:2rem 0rem;
}

.page-title {
    font-size:32px;
    margin-bottom:1.5rem;
}

.faq {
    margin-bottom: 3rem;
} 

.question {
    margin-bottom:0.5rem;
}


.form  {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 3em;
    margin-top:1rem;
}

input {
    padding:1rem;
    width: 100%;
    border-radius: 4px;
}

input[type="submit"] {
    margin-top:0;
}

.btn {
    padding:0.75rem 1rem;
    border-radius: 4px;
    margin-top:1rem;
    font-weight: 800;
    border:0;
    text-align: center;
}

.btn-primary {
    color: #fff;
    background: var(--primary);
    transition: ease-out .25s background;
    cursor: pointer;
}

.btn-primary:hover {
    background: var(--bodyBG);
}


.myth-banner {
    margin: 2rem 0rem;
    padding:1rem;

}

.myth-banner div {
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    margin-bottom:0;
    padding:0;
}

    .myth-banner div ul li {
        list-style: none;
        font-size:0.95rem;
        text-align: center;
        margin-right:1rem;
        font-weight: 700;
        display: inline-block;
    }